#header{
    background-image: url(../images/banner.png), url(../images/grediant.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.toggle-btn{
    border: 3px solid white;
}

.btn-news{
    max-width: 170px;
}

.btn-news:hover{
    color: white;
}

.user{
    width: 150px;
}

.ratings > img{
    width: 22px;
}

.footer{
    background-color: black!important;
}

hr{
    width: 7%;
}

